body {
    background-color: #fff5e6;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
}
header h1 {
    color:#d35400;
    font-size: 36px;
    margin-top: 30px;
}
header p {
    font-size: 18px;

}
.gallery {
    display: flex;
    justify-content: center;
    gap: 40px;

}
.gallery img {
    width: 400px;
    height: 300px;
    border-radius: 10px;

}
.gallery img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#informacia {
    font-size: 20px;
    border: 1px solid rgb(124, 92, 33);
    border-radius: 30px;
    padding: 30px;
}
table {
    
    width: 80%;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
}
th {
   
    background-color: #916b52;
}

.xazi td {
  padding: 15px;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fff5e6;
  transition: background-color 0.3s, color 0.3s;
}


.xazi:hover td {

  color: rgb(238, 22, 22);
  font-weight: bold;
  cursor: pointer;
}
.feedback input[type="text"],
.feedback input[type="number"] {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
 
}
.feedback input[type="text"]:hover,
.feedback input[type="number"]:hover {
  background-color: #f9e0f0;
}
.feedback input[type="submit"]:hover {
    background-color: #d35400;
}

.feedback input[type="text"]:focus,
.feedback input[type="number"]:focus {
  border-color: #d35400;
  outline: none;
}
.feedback input[type="submit"] {
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #c2a28d;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.feedback input[type="submit"]:active {
background-color: #a04000;
}